header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .app-name {
  font-family: 'Righteous', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 4px;
}

.creator-details {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 8px;
  background: transparent;
  transform: rotate(5deg);
}

.creator-details * {
  background: transparent;
}

.creator-details h2 {
  font-size: 1rem;
}

.creator-details img {
  height: 24px;
  transition: all 0.2s ease-out;
}
