.basic-info,
.education-info,
.work-info,
div[class*='extra-work-info'] {
  display: grid;
  gap: 16px;
  grid-auto-rows: auto;
  justify-items: center;
}

.basic-info,
.education-info,
.work-info {
  grid-row-start: 1;
  grid-column-start: 1;
}

.show-left {
  animation: show-left 0.5s ease-in forwards;
}

.show-right {
  animation: show-right 0.5s ease-in forwards;
}

.hide-left {
  animation: hide-left 0.5s ease-in forwards;
}

.hide-right {
  animation: hide-right 0.5s ease-in forwards;
}

.hide {
  transform-origin: top;
  animation: hide-top 0.3s ease-in forwards;
}

.show {
  transform-origin: top;
  animation: show-bottom 0.3s ease-in forwards;
}

h2 {
  font-size: 1.8rem;
}

input {
  min-width: var(--min-input-width);
  height: 35px;
  font-size: 1.1rem;
  padding: 0.5em;
  border: none;
  outline: 2px solid var(--input-outline-colour);
  border-radius: 4px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  min-width: 50px;
  outline: none;
  accent-color: var(--main-colour);
}

input::placeholder {
  color: var(--main-colour);
  opacity: 0.3;
  text-align: center;
}

label,
button {
  place-self: center;
}

button {
  appearance: none;
  border: none;
  width: 72px;
  margin-top: 42px;
}

button img {
  filter: var(--icon-main-colour);
  width: 72px;
  cursor: pointer;
}

button[class='extra-work-info-button'] {
  min-width: var(--min-input-width);
  outline: 3px solid var(--input-outline-colour);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5em;
  margin: 0;
}

button[class='extra-work-info-button']:hover {
  background-color: var(--main-colour);
  color: var(--bg-colour);
  outline: 3px solid var(--bg-colour);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 48px;
}
