.basic-info,
.education-info,
.work-info,
.skills-info,
div[class*='extra-work-info'],
div[class*='extra-education-info'] {
  display: grid;
  gap: 16px;
  grid-auto-rows: auto;
  justify-items: center;
}

.basic-info,
.education-info,
.work-info,
.skills-info {
  grid-row-start: 1;
  grid-column-start: 1;
}

.show-left {
  animation: show-left 0.5s ease-in forwards;
}

.show-right {
  animation: show-right 0.5s ease-in forwards;
}

.hide-left {
  animation: hide-left 0.5s ease-in forwards;
}

.hide-right {
  animation: hide-right 0.5s ease-in forwards;
}

.hide {
  display: none !important;
}

.show {
  transform-origin: top;
  animation: show-bottom 0.3s ease-in forwards;
}

h2 {
  font-size: 1.8rem;
}

input,
textarea {
  min-width: var(--min-input-width);
  font-size: 1.1rem;
  padding: 0.5em;
  border: none;
  outline: 2px solid var(--input-outline-colour);
  border-radius: 4px;
  text-align: center;
}

input {
  height: 35px;
}

textarea {
  resize: vertical;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type='checkbox'] {
  min-width: 50px;
  outline: none;
  accent-color: var(--main-colour);
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  color: var(--main-colour);
  opacity: 0.3;
  text-align: center;
}

label {
  cursor: pointer;
}

label,
button {
  place-self: center;
}

button {
  appearance: none;
  border: none;
  width: 72px;
  margin-top: 42px;
}

button img {
  filter: var(--icon-main-colour);
  width: 72px;
}

button[class='extra-work-info-button'],
button[class='extra-education-info-button'],
button[class='add-skill-button'] {
  min-width: var(--min-input-width);
  outline: 3px solid var(--input-outline-colour);
  font-size: 1.2rem;
  padding: 0.5em;
  margin: 0;
}

button[class='extra-work-info-button']:hover,
button[class='extra-education-info-button']:hover,
button[class='add-skill-button']:hover,
button[class='delete-skill-button']:hover {
  background-color: var(--main-colour);
  color: var(--bg-colour);
  outline: 3px solid var(--bg-colour);
}

button[class='delete-skill-button'] {
  position: absolute;
  right: 4px;
  width: 24px;
  outline: 3px solid var(--input-outline-colour);
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  border-radius: 48px;
}

input[disabled] {
  color: var(--main-colour);
}

.skill-line {
  display: flex;
  height: 35px;
  width: var(--min-input-width);
  position: relative;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 48px;
}

button {
  cursor: pointer;
}

button[class='default-cv-button'],
button[class='preview-button'] {
  position: absolute;
  width: 80px;
  margin: 0;
  padding: 1em;
  outline: 3px solid var(--input-outline-colour);
  border-radius: 128px;
}

button[class='default-cv-button'] {
  left: -50px;
  transform: translateX(-100%);
}

button[class='preview-button'] {
  right: -50px;
  transform: translateX(100%);
}

button[class='default-cv-button']:hover,
button[class='preview-button']:hover {
  background-color: var(--main-colour);
  color: var(--bg-colour);
  outline: 3px solid var(--bg-colour);
}

.preview * {
  background-color: white;
  color: black;
}

.preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  background-color: white;
  height: 90svh;
  aspect-ratio: 3 / 4;
  padding: 0.5em;
}

.preview .top {
  border-bottom: var(--preview-border);
}

.preview .contact {
  border-left: var(--preview-border);
  border-bottom: var(--preview-border);
}

.preview .skills {
  border-left: var(--preview-border);
}

.preview .top,
.preview .contact,
.preview .education-and-work,
.preview .skills {
  padding: 0.5em;
}

.preview .top,
.preview .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top .name {
  font-size: 3rem;
}

.top .location {
  font-size: 1.5rem;
}

.contact {
  font-size: 0.8rem;
}

hr {
  margin: 0.5em 0;
  width: 100%;
}

.education-and-work .education-line,
.education-and-work .work-line {
  display: flex;
  align-items: center;
}

.institution,
.company {
  margin-right: auto;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: 0.9rem;
}

.programme,
.position {
  font-style: italic;
  font-size: 0.9rem;
}

.institution,
.company,
.programme,
.position {
  padding: 0.5em 0;
}

.education-header,
.work-header,
.profile-header,
.skills-header {
  font-size: 2.5rem;
  font-variant: small-caps;
  letter-spacing: 2px;
}

.profile-header,
.skills-header {
  text-align: center;
}

.skills-list {
  list-style-type: circle;
  list-style-position: inside;
}
