@import url('https://fonts.googleapis.com/css2?family=Basic&family=Righteous&display=swap');

html {
  --bg-colour: rgb(69, 69, 69);
  --main-colour: rgb(202, 202, 202);
  --icon-main-colour: invert(89%) sepia(11%) saturate(0%) hue-rotate(287deg)
    brightness(93%) contrast(85%);
  --form-outline-colour: grey;
}
