@import url('https://fonts.googleapis.com/css2?family=Basic&family=Righteous&display=swap');

html {
  --bg-colour: rgb(69, 69, 69);
  --main-colour: rgb(202, 202, 202);
  --icon-main-colour: invert(89%) sepia(11%) saturate(0%) hue-rotate(287deg)
    brightness(93%) contrast(85%);
  --input-outline-colour: grey;
  --input-focus-colour: rgb(202, 202, 202);
  --min-input-width: 320px;
}

@keyframes show-right {
  from {
    display: none;
    opacity: 0;
    transform: translateX(600px);
  }

  to {
    display: grid;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show-left {
  from {
    display: none;
    opacity: 0;
    transform: translateX(-600px);
  }

  to {
    display: grid;
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide-left {
  from {
    display: grid;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    display: none;
    opacity: 0;
    transform: translateX(-600px);
  }
}

@keyframes hide-right {
  from {
    display: grid;
    opacity: 1;
    transform: translateX(0);
  }

  to {
    display: none;
    opacity: 0;
    transform: translateX(600px);
  }
}

@keyframes show-bottom {
  from {
    display: none;
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    display: grid;
    opacity: 1;
    transform: scaleY(1);
  }
}
